// predefined colors and other important info
$red-color: #ce0022;
$gray-color: #f1f1f1;
$dark-gray-color: #7d7e81;


// body stying
body {
    margin: 0;
    padding: 0;
}

main {
    padding: 1.5rem;
}

// navigation styling
header {
    margin: 0;
    // padding: 1.5rem;
    height: 12%;
    background-color: $dark-gray-color;
    width: 100%;
    font-size: 18px;

    display: flex;
    align-items: center;

    ul {
        display: flex;
        flex-wrap: wrap;

        li {
            list-style: none;
            margin: 0 1rem;
            padding: 1rem;
        }

        a:hover, a:active {
            text-decoration: none;
            color: $gray-color;
        }
    }

}


// footer styling
footer {
    padding: 16px;
}


// link styling
ol, ul {
    a {
        text-decoration: none;
        color: black;
    }

    a:hover, a:active {
        text-decoration: none;
        color: $red-color;
    }
}

#li-dots {
    font-size: 40px;
    list-style: none;
}

#colored-content {
    cursor: pointer;
}

// content styling
p {
    font-size: 14px;
}

.task-data {
    font-size: 16px;
    margin-right: auto;
}

.crossed-text {
    text-decoration: line-through;
}

.notes {
    margin: 16px 8px;
}


// styling for midterm project content

.card {
    border: 2px solid black;

    ul {
        margin: 0;
        padding: 0;
    }

    &__item {
        list-style: none;
        padding: 20px 10px;
        display: flex;
        align-items: center;

        border-bottom: 5px solid black;
    }

    &__todo_items {
        margin-left: 16px;
    }

    &__task-filter {
        padding: 8px;
        display: flex;

        .task-info {
            margin-right: auto;
        }
    }

    &__active-items {
        display: flex;
        flex-direction: row;

        span {
            padding: 12px;
            margin-right: 32px;
        }

        span:hover {
            cursor: pointer;
            background-color: $gray-color;
            border-radius: 6%;
        }

        .active {
            border: 2px solid black;
        }
    }
}

.input-container {
    margin-top: 60px;
}

// button styling
.btn {
    border-radius: 12%;
    cursor: pointer;
}


.checkbox-btn {
    width: 50px;
    height: 50px;
    margin-right: 24px;
    font-size: 24px;
}

.checkbox-btn:hover {
    background-color: $dark-gray-color;
    color: $gray-color;
}

.big_x {
    color: $red-color;
    font-size: 30px;
    padding: 8px;
}

.big_x:hover {
    background-color: $red-color;
    color: $gray-color;
}

@media (min-width: 640px) and (max-width: 1079px) {
    .card {
        width: 500px;

        &__item {
            padding: 1rem;
        }
    }
}

@media (min-width: 1080px) {
    .card, .input-container {
        width: 800px;
    }
}